@model IEnumerable<GameLib.Models.Genre>

@{
    ViewData["Title"] = "Index";
}
<h1>Список жанрів</h1>

<p>
    <a asp-action="Create">Додати новий жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.GenreId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
